html, body {width:auto; height:100%; overflow:visible;}
#container {position:relative; top:auto; right:auto; bottom:auto; left:auto; width:auto; height:100%; overflow:visible; background-color:#fff;}

.snap-drawers,

#header .btn-back {position:static; display:inline-block; width:34px; height:30px; overflow:hidden; padding:0; text-indent:-9999em; background:#304676 url(http://img.hunet.co.kr/mobile/sangsang/common/icon-y.png) no-repeat; background-size:50px 1000px; border:0; border-radius:3px; background-position:7px -319px;}
#header .btn-search {position:static; display:inline-block; width:34px; height:30px; overflow:hidden; padding:0; text-indent:-9999em; background:#304676 url(http://img.hunet.co.kr/mobile/sangsang/common/icon-y.png) no-repeat; background-size:50px 1000px; border:0; border-radius:3px; background-position:8px -344px;}
#header .btn-mymenu {position:static; display:inline-block; width:34px; height:30px; overflow:hidden; padding:0; text-indent:-9999em; background:#304676 url(http://img.hunet.co.kr/mobile/sangsang/common/icon-y.png) no-repeat; background-size:50px 1000px; border:0; border-radius:3px; background-position:-19px -367px;}

#header .btn-mymenu,
#header .btn-search {position:static; display:inline-block;}
.snap-drawers, #mymenu {position:absolute;}

.btn-primary {border-color:#016eb3; background:#016eb3;}
.button.highlight {border-color:#016eb3; background:#016eb3;}
#main-body {padding-top:8px; background:#006eb2 url(http://img.hunet.co.kr/edu/customize/nhlife/mobile/main/bg-header.png) repeat-x;}
#header {background-color:#2e75b6 !important;}
#header .offset-right {position:absolute; top:6px; right:10px;}
#header .offset-left {position:absolute; top:6px; left:10px;}
#header .btn-add {display:inline-block; width:34px; height:30px; overflow:hidden; text-indent:-9999em; background:#304676 url(http://img.hunet.co.kr/edu/customize/nhlife/mobile/normal/icon-add.png) no-repeat center center; border-radius:3px; background-size:20.5px 19.5px;}

.lecture-controlgroup li a {color:#fff; background:#bbb; border-color:#ababab;}
.lecture-controlgroup li.current a {color:#016eb3;}

.header-tabs {margin-bottom:10px; padding:10px; background:#dfdfdf;}
.header-tabs:after {content:""; display:block; clear:both;}
.header-tabs li {float:left; width:50%; text-align:center; letter-spacing:-1px;}
.header-tabs li a {display:block; height:25px; padding-top:8px; font-size:14px; color:#929292; background:#fff;}
.header-tabs li a .caret {display:inline-block; width:0; height:0; overflow:hidden; margin-left:3px; border-bottom:6px solid #929292; border-left:5px solid transparent; border-right:5px solid transparent; vertical-align:middle;}
.header-tabs li.active a {color:#fff; background:#404040;}
.header-tabs li.active a .caret {border-bottom:0; border-top:6px solid #fff;}

.search-form {display:none; position:absolute; top:42px; left:0; width:100%; background:#dfdfdf; z-index:1000;}
.search-form-visible {display:block; position:relative; top:auto; left:auto; border-bottom:1px solid #bcbcbc;}
.search-form .body {padding:10px 58px 10px 10px;}
.search-form input[type="text"] {width:100%; height:28px; padding:0 10px; font-size:12px; border:0;}
.search-form button {position:absolute; top:10px; right:10px; width:28px; height:28px; overflow:hidden; text-indent:-9999em; border:0; background:#888 url(http://img.hunet.co.kr/edu/customize/emart/mobile_v2/common/btn-search.png) no-repeat center center; background-size:16.5px 16.5px;}

.lecture-list-count strong {color:#000;}
.myclass-lecture-list dt {color:#282828; background:#e8ebef;}
.lecture-list dt {color:#282828; background:#e8ebef;}

.live-main-header {padding:10px 0; text-align:center; font-size:16px; color:#fff; background:#404040;}
.data-view-header {padding:10px 0; text-align:center; font-size:16px; color:#fff; background:#404040;}
.data-view-header .icon-calendar {
display: inline-block;
width: 21.5px;
height: 17px;
margin-top: -4px;
overflow: hidden;
vertical-align: middle;
background: url("http://img.hunet.co.kr/edu/customize/nhlife/mobile/normal/icon-calendar.png") no-repeat; background-size:21.5px 17px;}

.normal-title-bar {padding:10px 0 10px 10px; font-size:15px; color:#282828; background:#e8ebef;}
.normal-main-category {padding:10px 20px 10px 20px;}
.normal-main-category:after {content:""; display:block; clear:both;}
.normal-main-category li {float:left; width:33%; height:80px; margin-bottom:20px; text-align:center;}
.normal-main-category .icon {display:block; height:45px;}
.normal-main-category .icon img {width:45px; height:45px;}
.normal-main-category .subject {display:block; font-size:14px; color:#555;}
.normal-main-category .num {display:block; font-size:12px; color:#b6b6b6;}

.body-freezone-lng,
.body-freezone-lng #container {background:#eff6f9;}
.body-freezone-book,
.body-freezone-book #container {background:#edeef6;}
.body-freezone-culture,
.body-freezone-culture #container {background:#eef5e8;}

.freezone-content {padding:30px 20px; font-size:14px; color:#555; line-height:22px;}
.freezone-content h2 {margin-bottom:20px; font-size:18px; color:#1e1e1e;}
.freezone-content-ybm {background:url(http://img.hunet.co.kr/edu/customize/nhlife/mobile/normal/bg-freezone-ybm.png) no-repeat right top; background-size:115px 95px;}
.freezone-content-book {background:url(http://img.hunet.co.kr/edu/customize/nhlife/mobile/normal/bg-freezone-book.png) no-repeat right top; background-size:116px 96px;}
.freezone-content-culture {background:url(http://img.hunet.co.kr/edu/customize/nhlife/mobile/normal/bg-freezone-culture.png) no-repeat right top; background-size:120px 60px;}

.data-list-header {margin-bottom:5px; padding:0 10px; font-size:14px; zoom:1;}
.data-list-header:after {content:""; display:block; clear:both;}
.data-list-header .pull-left {float:left;}
.data-list-header .pull-right {float:right;}
.data-list-header .pull-right a {color:#cdcecf;}
.data-list-header .pull-right a.active {color:#016eb3;}
.data-list-header .pull-right .line {color:#cdcecf;}

.data-list {border-top:1px solid #d3d3d3;}
.data-list li {border-bottom:1px solid #d3d3d3;}
.data-list li a {display:block; padding:10px; zoom:1;}
.data-list li a:after {content:""; display:block; clear:both;}
.data-list .thumb {float:left; margin-right:-125px;}
.data-list .thumb img {width:108px; height:83px; border:1px solid #ccc;}
.data-list .body {display:block; margin-left:125px; line-height:20px;}
.data-list .category {display:block; margin-bottom:5px; font-weight:bold; color:#444;}
.data-list .subject {display:block; margin-bottom:5px; font-size:14px; color:#888;}
.data-list .date {display:block; padding:0 0 0 15px; font-size:14px; color:#888; background:url(http://img.hunet.co.kr/edu/customize/nhlife/mobile/normal/icon-clock.png) no-repeat 0 4px; background-size:11px 12.5px;}

.story-view {padding:17px 17px;}
.story-view h2 {margin-bottom:17px; font-size:20px; color:#c58171; text-align:center; line-height:26px;}
.story-view .content {color:#1d1d1d;}
.story-view .content img {max-width:100%;}
.story-view .img {margin-bottom:17px; text-align:center;}
.story-view .img img {max-width:100%;}
.story-view .book-info {margin-bottom:10px; line-height:22px; zoom:1;}
.story-view .book-info:after {content:""; display:block; clear:both;}
.story-view .book-info dt {float:left; width:70px; margin-right:-70px; font-weight:bold; color:#333;}
.story-view .book-info dd {margin-left:70px; color:#666;}
.story-view .movie {position:relative; margin-bottom:17px; text-align:center;}
.story-view .icon-play {position:absolute; left:50%; top:50%; width:58px; height:58px; margin:-30px 0 0 -30px; border-radius:58px; border:2px solid #ffffff; background: rgba(0,0,0,.7);}
.story-view .icon-play i {display:block; margin:19px 0 0 21px; border-style: solid; border-width:10px 10px 10px 20px; width:0; height:0; border-color:transparent transparent transparent #ffffff;}
.story-view footer {padding:15px 0 0 0; text-align:center;}
.story-view .icon-tv {display:inline-block; width:16px; height:16px; overflow:hidden; margin-top:-4px; vertical-align:middle; background:url(http://img.hunet.co.kr/mobile/mlc/h-tools/icon_y.png) no-repeat 0 -300px; background-size:50px 1000px;}

.story-view h2 {color:#444;}

/* main */
.main-header {padding:55px 20px 35px 20px; background:url(http://img.hunet.co.kr/edu/customize/nhlife/mobile/main/bg-obj.png) no-repeat center top; background-size:284.5px 122.5px;}
.main-header .brand {margin-bottom:10px; text-align:center;}
.main-header .brand img {width:266px;}
.main-header .user {zoom:1;}
.main-header .user:after {content:""; display:block; clear:both;}
.main-header .welcome {float:left; padding-top:7px; color:#a5d9fa; font-size:14px;}
.main-header .btn-group {float:right;}
.main-header .btn-group a {display:inline-block; padding:7px 10px; font-size:14px; color:#fff; background:#404040; border-radius:3px;}

.main-nav {padding:0 20px;}
.main-nav ul {zoom:1;}
.main-nav ul:after {content:""; display:block; clear:both;}
.main-nav li {float:left; width:33.3333333%;}
.main-nav li a {display:block; padding:1px;}
.main-nav li img {width:100%;}
.main-nav .lg li {width:50%;}



/* app */
.body-app {min-height:400px; background:url(http://img.hunet.co.kr/edu/customize/nhlife/mobile/normal/bg-app.png) no-repeat center center; background-size:170px 208.5px;}
.body-app #container {background:transparent;}