<ul data-role="listview">
	<li><a href="company.html" rel="external">企业管理</a></li>
	<li><a href="member.html" rel="external">企业负责人管理</a></li>
	<li><a href="schedule.html" rel="external">企业访问计划管理</a></li>
	<li><a href="history.html" rel="external">企业访问结果管理</a></li>
	<li data-icon="power"><a href="#" rel="external" onclick="logout();">退出</a></li>
</ul>