.ui-link {background:#F6F6F6 ;color:#333333;border:1px solid #DDDDDD}
.ui-footer {border:1px solid #DDDDDD}
.loginBox {width:70%;padding:50px 0 0 0;margin:0 auto}
.Content_Tbl {width:100%}
.Content_Tbl th {text-align:right;width:30%}
.Content_Tbl td {text-align:left;width:70%}
.Content_Tbl th,.Content_Tbl td {line-height:25px;font-size:14px}
.btnArea {text-align:center}
.ui-title {line-height:50px;height:50px}
.popupContents p{font-size:13px;}
/* iphone */
.ui-header .ui-btn-left,.ui-header .ui-btn-right {position: absolute;top: 20px !important;}
.Content_Tbl th {width:30%}
.Content_Tbl td {width:70%}