body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,blockquote,button{margin:0;padding:0;-webkit-text-size-adjust:none}
body,input,textarea,select,table,button{color:#000;font-family:sans-serif;font-size:100%;font-weight:normal;}
table {border-collapse:collapse; border-spacing:0;}
img,fieldset {border:0;}
img,input,textarea{vertical-align:top; -webkit-appearance:none;}
select{vertical-align:top;}
address,caption,cite,code,dfn,em,var {font-style:normal; font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
abbr,acronym {border:0;}

article, aside, dialog, footer, header, section, footer, nav, figure, hgroup {display:block;}

a{color:#000;text-decoration:none;}
a:link,a:hover,a:active{text-decoration:none;}

caption,
legend,
.accessibility {position:absolute; width:0; height:0; overflow:hidden; font-size:0; line-height:0; visibility:hidden; z-index:-1;}

hr {margin-bottom:30px; font-size:0; line-height:0; border:1px solid #fff;}
hr.line {border-bottom:1px solid #ddd;}

.tCenter {text-align:center;}
.tRight {text-align:right;}

.fArea {*zoom:1;}
.fArea:after {content:""; display:block; clear:both;}
.fLeft {float:left;}
.fRight {float:right;}

.clear {clear:both;}

.mt10 {margin-top:10px;}

html, body {width:100%; height:100%; overflow:visible;}

#container {position:relative; top:0; right:0; bottom:0; left:0; width:auto; min-height:100%; z-index:2; -webkit-overflow-scrolling: touch; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); background-color:#fff;}
#mymenu {position:absolute; top:0; right:0; width:265px; min-height:100%; background:#292c2e; z-index:3;}
.my-nav {padding:15px 10px 15px 10px; font-size:12px; border-bottom:1px solid #1a1c1d; background:#353a3c;}
.my-nav:after {content:""; display:block; clear:both;}
.my-nav li {float:left; width:32.7%; text-align:center; border-left:1px solid #525557; border-right:1px solid #1c1e1f;}
.my-nav li.first {border-left:0;}
.my-nav li.last {border-right:0;}
.my-nav a {display:block; padding:30px 0 0 0; color:#ccc; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-my-nav.png) no-repeat; background-size:200px 100px;}
.my-nav .essential {background-position:25px 0;}
.my-nav .scrap {background-position:-50px 0;}
.my-nav .plan {background-position:-123px 0;}
.my-nav a:focus {color:#fff; font-weight:bold;}
.my-nav .essential:focus {background-position:25px -70px;}
.my-nav .scrap:focus {background-position:-50px -70px;}
.my-nav .plan:focus {background-position:-123px -70px;}

.my-study-state {padding:14px; border-bottom:1px solid #1a1c1d;}
.my-study-state header {margin-bottom:8px; color:#888; line-height:18px;}
.my-study-state header:after {content:""; display:block; clear:both;}
.my-study-state .user {float:left; padding:0 0 0 16px; font-weight:bold; color:#ccc; font-size:14px; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-y.png) no-repeat 0 -49px; background-size:50px 1000px;}
.my-study-state .study-time {float:right; font-size:12px;}
.my-study-state .study-time strong {color:#ccc;}
.my-study-state table {width:100%;}
.my-study-state th,
.my-study-state td {width:33.3%; padding:5px 0; line-height:18px; font-size:12px; text-align:center; font-weight:normal; border:1px solid #2a2d2f;}
.my-study-state th {color:#1a1c1d; background:#405d9e;}
.my-study-state td {font-size:14px; font-weight:bold; color:#aaa; background:#393e40;}


.my-lecture-list {line-height:18px; font-size:14px;}
.my-lecture-list li {border-bottom:1px solid #1a1c1d; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-y.png) no-repeat 15px -82px; background-size:50px 1000px;}
.my-lecture-list a {display:block; padding:10px 10px 10px 24px; color:#ccc; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-y.png) no-repeat 235px -136px; background-size:50px 1000px;}
.my-lecture-list .current {background-color:#405d9e; background-position:15px -107px;}
.my-lecture-list .current a {color:#fff; background-position:235px -161px;}

.layer-popup {display:none; position:fixed; width:100%; height:100%; overflow:auto; background:#fff; z-index:4;}
.layer-popup header {height:42px;}
.layer-popup header h2 {padding:17px 0 0 10px; font-size:14px; color:#000; line-height:18px;}
.layer-popup header .close {position:absolute; top:12px; right:12px; width:18px; height:18px; overflow:hidden; text-indent:-9999em; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-y.png) no-repeat 0 -200px; background-size:50px 1000px;}
.layer-popup footer {height:33px; border:1px solid #343434; border-left:0; border-right:0; background:#444;}
.layer-popup footer .close {float:right; height:33px; line-height:33px; padding:0 33px 0 20px; color:#b4b4b4; font-size:11px; border-left:1px solid #343434; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-y.png) no-repeat 45px -218px; background-size:50px 1000px;}

.lecture-list {border-top:1px solid #575757;}
.lecture-list li {position:relative; padding-bottom:12px; border-bottom:1px solid #e7e7e7; z-index:1;}
.lecture-list li:after {content:""; display:block; clear:both;}
.lecture-list li a {display:block;}
.lecture-list li a:after {content:""; display:block; clear:both;}
.lecture-list .no-data {padding:165px 0 0 0; text-align:center; line-height:18px; font-size:12px; color:#888; border:0; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-no-data.png) no-repeat center 25px; background-size:116.5px 117px;}
.lecture-list .no-data .text1 {margin-bottom:20px; font-weight:bold; font-size:18px; color:#464646;}
.lecture-list .no-data .text2 {margin-bottom:10px;}
.lecture-list .icon {position:absolute; top:0; left:0; height:18px; line-height:18px; color:#fff; font-style:normal; font-size:11px; background-image:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-y.png); background-repeat:no-repeat; background-size:50px 1000px; opacity:.7; filter:alpha(opacity=70);}
.lecture-list .icon-study {padding:0 3px 0 16px; background-position:3px 3px; background-color:#000;}
.lecture-list .icon-study-end {padding:0 3px 0 3px; background-image:none; background-color:#c39951;}
.lecture-list .icon-time {padding:0 3px 0 16px; background-position:3px -22px; background-color:#000;}
.lecture-list .thumb {position:relative; float:left; width:127px; margin-right:10px;}
.lecture-list .thumb img {width:127px; height:69px; border:1px solid #aaa;}
.lecture-list .icon-play {position:absolute; left:3px; bottom:3px; width:24px; height:24px; border-radius:24px; background: rgba(255,255,255,.7);}
.lecture-list .icon-play i {display:block; margin:7px 0 0 8px; border-style: solid; border-width:5px 5px 5px 10px; width:0; height:0; border-color:transparent transparent transparent #405e9e;}
.lecture-list .content {display:block; padding:5px 5px 0 10px; font-size:11px; line-height:16px; color:#888;}
.lecture-list .content em {color:#405d9e;}
.lecture-list .subject {display:block; font-size:12px; color:#464646; font-weight:bold;}
.lecture-list .subject i {display:inline-block; padding:1px 2px; color:#fff; font-style:normal; font-size:11px; background:#475c79;}
.lecture-list .series {margin-left:20px;}
.lecture-list .view-count {vertical-align:middle}
.lecture-list .comment {margin-left:20px;}
.lecture-list .comment * {vertical-align:middle}
.lecture-list .comment i {display:inline-block; width:12px; height:12px; overflow:hidden; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-y.png) no-repeat 0 -400px; background-size:50px 1000px;}
.lecture-list .btn-del {position:absolute; bottom:10px; right:10px;}

.lecture-view-subject {padding:13px 12px; line-height:20px; font-size:14; font-weight:bold; color:#000; background:#dedede;}
.lecture-view-subject i {display:inline-block; vertical-align:middle; padding:1px 2px; color:#fff; font-style:normal; font-size:11px; background:#475c79;}
.lecture-view-thumb {position:relative; border:1px solid #888;}
.lecture-view-thumb img {width:100%;}
.lecture-view-thumb .icon {position:absolute; top:-1px; left:-1px; height:24px; line-height:24px; color:#fff; font-style:normal; font-weight:bold; font-size:14px; background-image:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-y.png); background-repeat:no-repeat; background-size:50px 1000px; opacity:.7; filter:alpha(opacity=70);}
.lecture-view-thumb .icon-study {padding:0 3px 0 16px; background-position:3px 3px; background-color:#000;}
.lecture-view-thumb .icon-study-end {padding:0 3px 0 3px; background-image:none; background-color:#c39951;}
.lecture-view-thumb .icon-time {padding:0 6px 0 23px; background-position:6px -19px; background-color:#000;}
.lecture-view-thumb .icon-play {position:absolute; left:3px; bottom:3px; width:48px; height:48px; border-radius:48px; background: rgba(255,255,255,.7);}
.lecture-view-thumb .icon-play i {display:block; margin:14px 0 0 16px; border-style: solid; border-width:10px 10px 10px 20px; width:0; height:0; border-color:transparent transparent transparent #405e9e;}
.lecture-view-time {padding:10px; line-height:18px; color:#888; font-size:12px;}
.lecture-view-time dt {float:left; width:83px; padding:0 0 5px 7px; margin-right:-90px; background:url(http://img.hunet.co.kr/mobile/edu/common/bu_sq-2px-gray.gif) no-repeat 0 7px;}
.lecture-view-time dd {margin-left:90px; padding:0 0 5px 0;}
.lecture-view-time dd em {color:#3f5e9e;}
.lecture-view-btn-group {margin-bottom:15px; padding:0 5px; font-size:12px; line-height:18px;}
.lecture-view-btn-group:after {content:""; display:block; clear:both;}
.lecture-view-btn-group a {display:inline-block; width:56px; margin:0 2px;}
.lecture-view-btn-group i {display:block; width:56px; height:44px; margin:0 auto; background:#405d9e url(http://img.hunet.co.kr/mobile/sangsang/common/icon-view-btn.png) no-repeat; background-size:50px 250px; border-radius:5px;}
.lecture-view-btn-group i.study {background-position:23px 12px;}
.lecture-view-btn-group i.play {background-position:20px -37px;}
.lecture-view-btn-group i.download {background-position:20px -37px;}
.lecture-view-btn-group i.scrap {background-position:19px -87px;}
.lecture-view-btn-group i.quiz {background-position:20px -139px;}
.lecture-view-btn-group .subject {display:block; text-align:center; padding:4px 0 0 0; color:#405d9e;}

.lecture-view-info {position:relative; padding-top:15px; margin-bottom:15px; border-top:1px solid #6e6e6e;}
.lecture-view-info h3 {margin-bottom:15px; padding:0 10px;}
.lecture-view-info h3 em {color:#405d9e; font-size:14px; vertical-align:top; font-weight:bold;}
.lecture-view-info .more {position:absolute; top:16px; right:5px; padding:0 15px 0 0; line-height:18px; font-size:12px; color:#7c7c7c;}
.lecture-view-info .more i {position:absolute; top:5px; right:0; width:0; height:0;  border-style: solid; border-width:4px 4px 4px 8px; width:0; height:0; border-color:transparent transparent transparent #919191;}
.lecture-view-info .lecture-list {border-top:0; width:auto; height:auto; }
.lecture-view-info .lecture-list li {border-top:1px solid #e7e7e7; border-bottom:0;}
.lecture-view-info ul {position:relative; width:295px; height:85px; overflow:hidden; margin:0 auto;}
.lecture-view-info li li {float:left; margin:0 4px;}
.lecture-view-info .swiper-container {height:120px;}
.lecture-view-info .swiper-slide {}
.lecture-view-info .icon {position:absolute; top:0; left:0; height:18px; line-height:18px; color:#fff; font-style:normal; font-size:11px; background-image:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-y.png); background-repeat:no-repeat; background-size:50px 1000px; opacity:.7; filter:alpha(opacity=70);}
.lecture-view-info .icon-study {padding:0 3px 0 16px; background-position:3px 3px; background-color:#000;}
.lecture-view-info .icon-study-end {padding:0 3px 0 3px; background-image:none; background-color:#c39951;}
.lecture-view-info .icon-time {padding:0 3px 0 16px; background-position:3px -22px; background-color:#000;}
.lecture-view-info li .thumb,
.lecture-view-info .swiper-container .thumb {position:relative; display:block; width:86px; margin:0 auto; margin-bottom:3px;}
.lecture-view-info .lecture-list li .thumb {margin-right:-86px}
.lecture-view-info li .thumb img,
.lecture-view-info .swiper-container .thumb img {width:85px; height:46px; border:1px solid #aaa;}
.lecture-view-info .content {margin-left:86px;}
.lecture-view-info .icon-play {position:absolute; left:3px; bottom:3px; width:16px; height:16px; border-radius:8px; background: rgba(255,255,255,.7);}
.lecture-view-info .icon-play i {display:block; margin:4px 0 0 5px; border-style: solid; border-width:4px 4px 4px 8px; width:0; height:0; border-color:transparent transparent transparent #405e9e;}
.lecture-view-info li .subject,
.lecture-view-info .swiper-container .subject {display:block; width:86px; margin:0 auto; font-size:12px; line-height:16px;}
.lecture-view-info .lecture-list li .subject {width:auto}
.lecture-view-info .prev,
.lecture-view-info .next {display:inline-block; width:30px; height:25px; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-y.png) no-repeat 0 -500px; background-size:50px 1000px; z-index:2; border-radius:0;}
.lecture-view-info .prev i,
.lecture-view-info .next i {display:none; width:0; height:0; overflow:hidden; text-indent:-9999em; border-style: solid;}
.lecture-view-info .prev {margin-right:10px;}
.lecture-view-info .next {margin-left:10px; background-position:0 -525px;}
.lecture-view-info .prev i {margin:6px 0 0 3px; border-width:5px 10px 5px 5px; border-color:transparent #a0a0a0 transparent transparent;}
.lecture-view-info .next i {margin:6px 0 0 10px; border-width:5px 5px 5px 10px; border-color:transparent transparent transparent #a0a0a0;}
.lecture-view-info .pagination {z-index:2;}
.lecture-view-info .info-text {padding:0 10px; font-size:12px; line-height:18px; color:#888;}
.lecture-view-info .pager {font-size:14px;}
.lecture-view-info .pager {padding:15px 0 0 0; text-align:center; color:#888;}
.lecture-view-info .pager span.curr {color:#000;}

.lecture-view-info .teacher {padding:0 10px; font-size:12px;}
.lecture-view-info .teacher:after {content:""; display:block; clear:both;}
.lecture-view-info .teacher .thumb {float:left; width:102px; margin-right:-112px;}
.lecture-view-info .teacher .thumb img {width:100px; height:108px; border:1px solid #dcdee2;}
.lecture-view-info .teacher .info {margin-left:112px;}
.lecture-view-info .teacher.no-thumb .info {margin-left:0;}
.lecture-view-info .teacher dl {margin-bottom:10px; color:#888;}
.lecture-view-info .teacher dl:after {}
.lecture-view-info .teacher dt {float:left; width:50px; margin-right:-55px; padding-left:5px; background:url(http://img.hunet.co.kr/hunet/education/view/bu_sq-2px-gray.gif) no-repeat 0 5px;}
.lecture-view-info .teacher dd {margin-left:55px;}
.lecture-view-info .teacher dd strong {color:#464646;}
.lecture-view-info .teacher dd p {}

.epilogue-write-field {margin-bottom:15px; padding:0 10px; font-size:12px;}
.epilogue-write-field:after {content:""; display:block; clear:both;}
.epilogue-write-field textarea {width:94%; height:45px; padding:10px; font-size:12px; border:1px solid #c5c5c5; border-radius:0; background:none;}
.epilogue-write-field .star {float:left; margin-top:5px; color:#888;}
.epilogue-write-field .star * {vertical-align:middle;}
.epilogue-write-field .star select {color:#ed0009;}
.epilogue-write-field .btn {float:right; margin-top:5px;}

.epilogue-article {padding:15px 10px; line-height:18px; font-size:12px; border-top:1px solid #bcbcbc; background-repeat:no-repeat;}
.epilogue-article header {margin-bottom:5px;}
.epilogue-article .subject {font-weight:bold; color:#333;}
.epilogue-article .author {font-size:11px; color:#aaa;}
.epilogue-article .text {color:#888;}
.epilogue-article footer {margin-top:5px;}
.epilogue-article.my-reply {background-color:#f6f6f6;}
.epilogue-article.indent {padding-left:28px; background-image:url(http://img.hunet.co.kr/mobile/edu/common/icon_reply.gif); background-position:10px 15px;}



.main-container {background:url(http://img.hunet.co.kr/mobile/sangsang/main/bg_header.png) no-repeat center top; background-size:320px 278.5px;}
#main-header {padding:40px 0 0 0;}
#main-header .logo {padding:0 0 30px 0; text-align:center;}
#main-header .logo img {width:141px;}
#main-header .btn-mymenu {position:absolute; top:10px; right:10px; width:40px; height:30px; overflow:hidden; text-indent:-9999em; background:url(http://img.hunet.co.kr/mobile/sangsang/main/btn_mymenu.png) no-repeat; background-size:40px 30px;}
#main-icon-nav {padding:0 20px 10px 20px;}
#main-icon-nav:after {content:""; display:block; clear:both;}
#main-icon-nav li {float:left; width:33%; margin-bottom:20px; text-align:center;}
#main-icon-nav .icon {display:block; height:45px;}
#main-icon-nav .icon img {width:45px; height:45px;}
#main-icon-nav .subject {display:block; font-size:14px; color:#555;}
#main-icon-nav .num {display:block; font-size:12px; color:#b6b6b6;}

.main-lecture-list {position:relative; margin:0 20px 20px 20px; padding:20px 0; border-top:1px solid #575757;}
.main-lecture-list h2 {margin-bottom:15px; padding-left:10px; font-size:16px; line-height:20px; letter-spacing:-1px; color:#444444}
.main-lecture-list h2 img {width:69.5px;}
.main-lecture-list .more {position:absolute; top:20px; right:5px; padding:0 15px 0 0; line-height:18px; font-size:12px; color:#7c7c7c;}
.main-lecture-list .more i {position:absolute; top:5px; right:0; width:0; height:0;  border-style: solid; border-width:4px 4px 4px 8px; width:0; height:0; border-color:transparent transparent transparent #919191;}
.main-lecture-list ul {position:relative; width:285px; height:85px; overflow:hidden; margin:0 auto;}
.main-lecture-list .slide {position:absolute;}
.main-lecture-list li li {float:left; margin:0 4px;}
.main-lecture-list .swiper-container {height:80px;}
.main-lecture-list .swiper-slide {}
.main-lecture-list .icon {position:absolute; top:0; left:0; height:18px; line-height:18px; color:#fff; font-style:normal; font-size:11px; background-image:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-y.png); background-repeat:no-repeat; background-size:50px 1000px; opacity:.7; filter:alpha(opacity=70);}
.main-lecture-list .icon-study {padding:0 3px 0 16px; background-position:3px 3px; background-color:#000;}
.main-lecture-list .icon-study-end {padding:0 3px 0 3px; background-image:none; background-color:#c39951;}
.main-lecture-list .icon-time {padding:0 3px 0 16px; background-position:3px -22px; background-color:#000;}
.main-lecture-list .thumb {position:relative; display:block; width:86px; margin:0 auto; margin-bottom:3px;}
.main-lecture-list .thumb img {width:85px; height:46px; border:1px solid #aaa;}
.main-lecture-list .icon-play {position:absolute; left:3px; bottom:3px; width:16px; height:16px; border-radius:8px; background: rgba(255,255,255,.7);}
.main-lecture-list .icon-play i {display:block; margin:4px 0 0 5px; border-style: solid; border-width:4px 4px 4px 8px; width:0; height:0; border-color:transparent transparent transparent #405e9e;}
.main-lecture-list .subject {display:block; width:86px; margin:0 auto; font-size:12px; line-height:16px;}
.main-lecture-list .prev,
.main-lecture-list .next {display:inline-block; width:30px; height:25px; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-y.png) no-repeat 0 -500px; background-size:50px 1000px; border-radius:0;}
.main-lecture-list .prev i,
.main-lecture-list .next i {display:none; width:0; height:0; overflow:hidden; text-indent:-9999em; border-style: solid;}
.main-lecture-list .prev {margin-right:10px;}
.main-lecture-list .next {margin-left:10px; background-position:0 -525px;}
.main-lecture-list .prev i {margin:6px 0 0 3px; border-width:5px 10px 5px 5px; border-color:transparent #a0a0a0 transparent transparent;}
.main-lecture-list .next i {margin:6px 0 0 10px; border-width:5px 5px 5px 10px; border-color:transparent transparent transparent #a0a0a0;}
.main-lecture-list .pager {overflow:hidden; margin-bottom:-20px; font-size:14px;}
.main-lecture-list .pager {padding:15px 0 0 0; text-align:center; color:#888;}
.main-lecture-list .pager span.curr {color:#000;}

.pager {padding-top:15px; text-align:center; width:100%;}
.pager a {vertical-align:middle; display:inline-block; width:8px; height:8px; border-radius:8px; background:#ddd; margin:0 3px; cursor:pointer; text-indent:-9999em;}
.pager a.pager-current {width:12px; height:12px; border-radius:12px; background:#5077b9;}


.snap-drawers {position:absolute; top:0; right:0; bottom:0; left:0; width:auto; height:auto;}
.snap-drawer {position:absolute; top:0; right:auto; bottom:0; left:auto; width:265px; height:auto; overflow:auto; -webkit-overflow-scrolling:touch; -webkit-transition:width 0.3s ease; -moz-transition:width 0.3s ease; -ms-transition:width 0.3s ease; -o-transition:width 0.3s ease; transition:width 0.3s ease;}
.snap-drawer-left {left:0; z-index:1;}
.snap-drawer-right {right:0; z-index:1;}

.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {display:none;}
.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {width:100%;}

/* ===============================================================
Basic Swiper Styles 
================================================================*/
.swiper-container {margin:0 auto; position:relative; overflow:hidden; -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; -ms-backface-visibility:hidden; -o-backface-visibility:hidden; backface-visibility:hidden; z-index:1;}
.swiper-wrapper {position:relative; width:100%; -webkit-transition-property:-webkit-transform, left, top; -webkit-transition-duration:0s; -webkit-transform:translate3d(0px,0,0); -webkit-transition-timing-function:ease; -moz-transition-property:-moz-transform, left, top; -moz-transition-duration:0s; -moz-transform:translate3d(0px,0,0); -moz-transition-timing-function:ease; -o-transition-property:-o-transform, left, top; -o-transition-duration:0s; -o-transform:translate3d(0px,0,0); -o-transition-timing-function:ease; -o-transform:translate(0px,0px); -ms-transition-property:-ms-transform, left, top; -ms-transition-duration:0s; -ms-transform:translate3d(0px,0,0); -ms-transition-timing-function:ease; transition-property:transform, left, top; transition-duration:0s; transform:translate3d(0px,0,0); transition-timing-function:ease;}
.swiper-free-mode > .swiper-wrapper {-webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; margin: 0 auto;}
.swiper-slide {float: left;}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {-ms-touch-action: pan-y;}
.swiper-wp8-vertical {-ms-touch-action: pan-x;}
.pagination {position: absolute; left:0; text-align: center; bottom:5px; width: 100%; }
.swiper-pagination-switch {vertical-align:middle; display: inline-block; width: 8px; height: 8px; border-radius: 8px; background: #ddd; margin: 0 3px; cursor: pointer;}
.swiper-active-switch {width: 12px; height: 12px; border-radius: 12px; background: #5077b9;}


.search-field {padding:15px; font-size:12px; border-top:1px solid #575757; border-bottom:1px solid #aaa; background:#ececec;}
.search-field .i-text {width:77%; height:28px; padding:0 0 0 10px; line-height:28px; border:1px solid #c5c5c5; border-radius:0;}
.search-field .btn-group {padding:5px 0 0 0;}
.search-field .btn-group .btn {position:relative; float:left; margin-left:-1px; color:#888; border-color:#bbb; background:#f5f5f5; z-index:1;}
.search-field .btn-group .btn.current {color:#fff; border-color:#707070; background:#939393; z-index:2;}
.search-field .btn-group > .btn:first-child {margin-left:0;}
.search-sub-category-list {line-height:18px;}
.search-sub-category-list a {display:block;}
.search-sub-category-list dt {padding:8px; color:#888; font-size:11px; border-bottom:1px solid #e7e7e7; background:#fbfbfb;}
.search-sub-category-list dd {font-size:12px; border-bottom:1px solid #e7e7e7;}
.search-sub-category-list dd a {padding:10px 20px; color:#464646;}


#header {height:41px; line-height:100%; border-bottom:1px solid #242424; background-color:#405d9e;}
#header h1 {padding:13px 0 0 0; text-align:center; font-size:17px; letter-spacing:-1px; color:#fff;}
#header .btn {position:absolute; top:6px; width:34px; height:30px; overflow:hidden; padding:0; text-indent:-9999em; background:#304676 url(http://img.hunet.co.kr/mobile/sangsang/common/icon-y.png) no-repeat; background-size:50px 1000px; border:0; border-radius:3px;}
#header .btn-back {left:10px; background-position:7px -319px;}
#header .btn-search {right:50px; background-position:8px -344px;}
#header .btn-mymenu {right:10px; background-position:-19px -367px;}

.list-header {padding:20px 10px 10px 10px; font-size:12px;}
.list-header:after {content:""; display:block; clear:both;}
.list-header .line {margin:0 2px; color:#e8e8e8;}
.list-header .category-select a {color:#888;}
.list-header .category-select a.current {font-weight:bold; color:#000;}
.list-header .highlight {color:#405d9e;}

.plan-list {line-height:18px; font-size:14px; border-top:1px solid #575757;}
.plan-list li {border-bottom:1px solid #eaeaea; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-dot.png) no-repeat 13px 16px; background-size:3px 3.5px;}
.plan-list a {display:block; padding:10px 10px 10px 24px; color:#464646; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-ar.png) no-repeat right center; background-size:17px 11px;}
.plan-list .subject {display:block; margin-bottom:5px; font-weight:bold;}
.plan-list .info {display:block; font-size:12px; color:#888;}
.plan-list .tit {display:inline-block; width:42px;}
.plan-list em {color:#405d9e;}

.plan-list-header {padding:12px 12px 12px 44px; font-size:12px; background:#eee url(http://img.hunet.co.kr/mobile/sangsang/common/icon-caneldar.png) no-repeat 10px 14px; background-size:24.5px 28px;}
.plan-list-header h2 {margin-bottom:4px; font-size:14px; color:#222; line-height:19px;}
.plan-list-header dl {line-height:16px;}
.plan-list-header dt {float:left; width:42px; margin-right:-42px; color:#888;}
.plan-list-header dd {margin-left:42px; color:#405d9e;}

.plan-write {padding:30px 20px; font-size:12px; line-height:18px;}
.plan-write .text1 {margin-bottom:5px; font-size:14px; font-weight:bold; color:#464646; line-height:22px;}
.plan-write .text2 {margin-bottom:10px; font-size:24px; font-weight:bold; color:#405d9e; line-height:26px;}
.plan-write .text3 {margin-bottom:20px; color:#888;}
.plan-write-help {padding:60px 15px 20px 15px; text-align:center; background:#ecedef url(http://img.hunet.co.kr/mobile/sangsang/common/icon-monitor-check.png) no-repeat center 15px; background-size:35px 35px; border-radius:6px;}
.plan-write-help .text4 {margin-bottom:5px; font-size:16px; font-weight:bold; color:#383f4a; line-height:22px;}
.plan-write-help .text5 {color:#535c68;}

.category-list {line-height:18px; font-size:14px;}
.category-list a {display:block;}
.category-list > li ul {display:none;}
.category-list > li {border-bottom:1px solid #eaeaea; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-category-dot.png) no-repeat 15px 15px; background-size:3px 3.5px;}
.category-list > li > a {padding:10px 10px 10px 24px; font-weight:bold; color:#464646;}
.category-list > li.hasSub > a {background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-category1.png) no-repeat 98% 9px; background-size:24.5px 21px;}
.category-list > li.hasSub.opened {background-color:#616060;}
.category-list > li.hasSub.opened > ul {display:block;}
.category-list > li.hasSub.opened > a {color:#fff; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-category1-opened.png) no-repeat 98% 9px; background-size:24.5px 21px;}
.category-list > li > ul > li {font-size:12px; border-top:1px dashed #777; background:#bdbdbd url(http://img.hunet.co.kr/mobile/sangsang/common/icon-category-dot1.png) no-repeat 24px 9px; background-size:10px 10px;}
.category-list > li > ul > li:first-child {border-top:0;}
.category-list > li > ul > li > a {padding:7px 10px 7px 36px;}
.category-list > li > ul > li.hasSub {background-image:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-category-dot2.png); background-size:10px 10px;}
.category-list > li > ul > li.hasSub.opened {background-color:#d6d6d6; background-image:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-category-dot3.png); background-size:10px 10px;}
.category-list > li > ul > li.hasSub.opened > ul {display:block;}
.category-list > li > ul > li.hasSub > a {background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-category2.png) no-repeat 98% 6px; background-size:24.5px 21px;}
.category-list > li > ul > li.hasSub.opened > a {font-weight:bold; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-category2-opened.png) no-repeat 98% 6px; background-size:24.5px 21px;}

.category-list > li > ul > li > ul > li {background:#d6d6d6 url(http://img.hunet.co.kr/mobile/sangsang/common/icon-category-dot1.png) no-repeat 34px 9px; background-size:10px 10px;}
.category-list > li > ul > li > ul > li > a {padding:7px 10px 7px 46px;}


.lecture-state-tab {height:40px; margin-bottom:10px;}
.lecture-state-tab li {float:left; width:50%; text-align:center; font-size:14px;}
.lecture-state-tab li a {display:block; height:38px; line-height:38px; font-weight:bold; color:#555; border:1px solid #cfd4d6; border-left:0; background:#f0f2f5; color:#555}
.lecture-state-tab li a em {font-weight:bold;}
.lecture-state-tab li.first a {border-left:1px solid #cfd4d6;}
.lecture-state-tab li.current a {color:#405d9e; border-color:#a8acae; border-bottom-color:#fff; background:#fff;}
.lecture-state-tab li.current a em {color:#ff6600;}

.state-summary {padding:0 10px; font-size:12px;}
.state-summary dt {margin-bottom:5px; color:#000;}
.state-summary dd {margin-bottom:15px;}
.state-summary select {width:100%; border:1px solid #d1d1d1; border-radius:0; background:#fff; height:32px}
.state-summary table {width:100%;}
.state-summary th,
.state-summary td {padding:5px 0; line-height:18px; text-align:center; color:#464646; border:1px solid #999;}
.state-summary th {color:#fff; background:#aaa;}
.state-summary td strong {color:#405d9e;}


.quiz-state {padding:10px; border-top:1px solid #575757;}
.quiz-state table {width:100%; margin-bottom:15px;}
.quiz-state th,
.quiz-state td {padding:10px; line-height:18px; font-size:12px; border:1px solid #dfdfdf;}
.quiz-state th {width:30%; font-weight:normal; color:#888; text-align:center; background:#f4f4f4;}
.quiz-state td {text-align:left; color:#464646;}
.quiz-state td strong {color:#405d9e;}

.quiz-result {padding:165px 0 20px 0; text-align:center; line-height:18px; font-size:12px; color:#888; border-top:1px solid #575757; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-quiz-result.png) no-repeat center 25px; background-size:116.5px 117px;}
.quiz-result .text1 {margin-bottom:20px; font-weight:bold; font-size:18px; color:#464646;}
.quiz-result .text2 {margin-bottom:20px;}

.quiz-answer {font-size:12px; border-top:1px solid #575757;}
.quiz-answer h3 {padding:10px; line-height:22px; font-size:14px; color:#405d9e; border-bottom:1px solid #e9eaec;}
.quiz-answer .multiple-choice {line-height:20px;}
.quiz-answer .multiple-choice li {position:relative; border-bottom:1px solid #e9eaec; z-index:1;}
.quiz-answer .multiple-choice a {display:block; padding:10px 10px 10px 27px; color:#464646;}
.quiz-answer .multiple-choice li.selected {background:#405d9e;}
.quiz-answer .multiple-choice li.selected a {color:#fff; font-weight:bold;}
.quiz-answer .multiple-choice i {position:absolute; top:10px; left:10px; font-style:normal;}
.quiz-answer .page {padding:15px 0; text-align:center; color:#aaa;}
.quiz-answer .page strong {color:#888;}

.center-list {line-height:18px; font-size:14px;}
.center-list li {border-bottom:1px solid #eaeaea; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-dot.png) no-repeat 13px 16px; background-size:3px 3.5px;}
.center-list a {display:block; padding:10px 30px 10px 24px; color:#464646; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-ar.png) no-repeat right center; background-size:17px 11px;}

.board-list-header {padding:20px 10px 10px 10px; font-size:12px; border-bottom:1px solid #575757;}
.board-list-header:after {content:""; display:block; clear:both;}
.board-list-header .line {margin:0 2px; color:#e8e8e8;}
.board-list-header .category-select a {color:#888;}
.board-list-header .category-select a.current {font-weight:bold; color:#000;}
.faq-category-select {width:100%;}

.board-list {line-height:18px; font-size:12px;}
.board-list li {border-bottom:1px solid #eaeaea;}
.board-list a {display:block; padding:12px 30px 12px 10px; color:#888; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-ar.png) no-repeat right center; background-size:17px 11px;}
.board-list .subject {display:block; font-weight:bold; font-size:14px; color:#464646;}
.board-list .info {display:block; margin-top:5px;}
.board-list .answer-no {margin-right:10px; color:#ed0009;}
.board-list .answer-yes {margin-right:10px; color:#405d9e;}

.board-view {font-size:12px;}
.board-view header {padding:15px 20px 10px 20px;}
.board-view header .info {margin-top:3px; color:#888;}
.board-view header .file {color:#0391b1;}
.board-view header h2 {line-height:22px; font-size:14px; color:#000;}
.board-view .content {padding:20px; line-height:20px; color:#888;}
.board-view .content .img {padding:15px 0; text-align:center;}
.board-view .content img {max-width:100%;}
.board-view .answer-content {color:#464646; background:#f5f5f5;}
.board-view .answer-content h3 {padding:0 0 5px 20px; font-weight:normal; color:#405d9e; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-y.png) no-repeat 0 -422px; background-size:50px 1000px;}
.board-view .question-content h3 {padding:0 0 5px 20px; font-weight:normal; color:#405d9e; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-y.png) no-repeat 0 -447px; background-size:50px 1000px;}
.board-view footer {padding:10px 10px 15px 10px; border-top:1px solid #e0e0e0;}
.board-view footer:after {content:""; display:block; clear:both;}

.board-write-ul {margin-bottom:15px; padding:10px 10px 5px 10px; font-size:12px; border-bottom:1px solid #6d6d6d;}
.board-write-ul li {margin-bottom:6px;}
.board-write-ul .i-label {position:absolute; margin:7px 0 0 7px; color:#727272;}
.board-write-ul .i-text {height:26px; line-height:26px; border:1px solid #bcbcbc;}
.board-write-ul .i-textarea {font-size:12px; border:1px solid #bcbcbc;}
.board-write-ul .btn-add-image span {color:#bfbfbf;}
.board-write-ul .image-list {margin-top:5px;}
.board-write-ul .image-list:after {content:""; display:block; clear:both;}
.board-write-ul .image-list li {float:left; width:70px; padding:0; margin-left:5px;}
.board-write-ul .image-list li:first-child {margin-left:0;}
.board-write-ul .image-list .thumb {margin-bottom:5px;}
.board-write-ul .image-list .thumb img {width:70px; height:70px;}
.board-write-ul .image-list .btn {width:68px; padding:0; text-align:center;}
.board-write-ul .image-list .btn span {color:#828282;}
.board-write-ul .no-thumb {width:68px; height:68px; line-height:68px; overflow:hidden; color:#a4a4a4; font-size:11px; text-align:center; border:1px solid #d8d8d8; background:#f6f6f6;}

.board-write-table {width:100%; margin-bottom:15px; line-height:18px; color:#363636; font-size:12px;}
.board-write-table th {padding:4px 0 4px 7px; vertical-align:top; font-weight:normal; color:#888; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-dot.png) no-repeat 0 10px; background-size:3px 3.5px;}
.board-write-table td {padding:4px 10px;}
.board-write-table .highlight {color:#405d9e;}
.board-write-table .help {margin-top:5px; color:#aaa;}
.board-write-table .i-text {height:26px; line-height:26px; border:1px solid #bcbcbc;}
.board-write-table .i-textarea {font-size:12px; border:1px solid #bcbcbc;}

.userinfo-modify {padding:15px;}


.btn {display:inline-block; padding:6px 12px; line-height:1.428571429; overflow:hidden; font-weight:normal; font-size:12px; color:#464646; border:1px solid #a4a4a4; background:#fff; border-radius:0; cursor:pointer; -webkit-appearance:none;}

.btn-sm,.btn-xs {padding:4px 10px; line-height:1.5;}
.btn-xs {padding:1px 5px;}
.btn-lg {padding:10px 16px; line-height:1.33; font-weight:bold;}
.btn-primary {color:#fff; border-color:#405d9e; background:#405d9e;}
.btn-inverse {color:#fff; border-color:#444; background:#444;}

.btn-list-more {display:block; height:51px; line-height:51px; text-align:center; font-size:12px; color:#888;}
.btn-list-more i {display:inline-block; width:13px; height:8px; background:url(http://img.hunet.co.kr/mobile/sangsang/common/icon-y.png) no-repeat 0 -250px; background-size:50px 1000px;}
.btn-list-more.border-top {border-top:1px solid #bcbcbc}


.icon-question {font-weight:bold; color:#bfbfbf; font-style:normal;}





/* */
.myclass-process-tab {height:37px; background:#434343;}
.myclass-process-tab.ea3 li {width:33.3%;}
.myclass-process-tab.ea2 li {width:50%;}
.myclass-process-tab li {float:left; width:50%; text-align:center; font-size:15px; background:url(http://img.hunet.co.kr/mobile/edu/common/bg_myclass-process-tab-line.gif) no-repeat left center;}
.myclass-process-tab li.first {background:none;}
.myclass-process-tab li a {display:block; height:37px; line-height:37px; font-weight:bold; color:#b6b6b6; letter-spacing:-1px;}
.myclass-process-tab li a span {padding-right:15px; background:url(http://img.hunet.co.kr/mobile/edu/common/bg_myclass-process-tab.gif) no-repeat right 7px;}
.myclass-process-tab li.current a {color:#fff;}
.myclass-process-tab li.current a span {background-position:right -68px;}

.lecture-controlgroup {height:33px; margin:10px 0 0 0;}
.lecture-controlgroup li {float:left; width:33.333333%; text-align:center; font-size:12px;}
.lecture-controlgroup li a {display:block; height:31px; line-height:31px; font-weight:bold; color:#707070; border:1px solid #c2c2c2; border-left:0; background:#e1e1e1;}
.lecture-controlgroup li a em {font-weight:bold;}
.lecture-controlgroup li.first a {border-left:1px solid #c2c2c2;}
.lecture-controlgroup li.current a {color:#000; border-bottom-color:#fff; background:#fff;}
.lecture-controlgroup li.current a em {color:#ff6600;}
.lecture-controlgroup li.last a {}
.lecture-controlgroup.ea2 li {width:50%;}

.lecture-list-count {margin-bottom:10px; padding:10px 0 0 10px; font-size:12px; color:#444;}
.lecture-list-count strong {color:#ff6600;}
.myclass-lecture-list dt {position:relative; height:39px; line-height:39px; padding:0 10px; font-size:15px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-weight:bold; color:#447acf; background:#eee;}
.myclass-lecture-list dt a.btn {position:absolute; top:5px; right:10px;}
.myclass-lecture-list dd {position:relative; padding:10px; border-bottom:1px solid #d3d3d3; z-index:1;}
.myclass-lecture-list dd h3 {line-height:23px; font-size:14px; color:#444;}
.myclass-lecture-list dd p {line-height:22px; font-size:11px; color:#666;}
.myclass-lecture-list dd p strong.type {margin-left:20px;}
.myclass-lecture-list dd a.btn {position:absolute; bottom:20px; right:10px;}
.myclass-lecture-list dd.last {border:0;}
.myclass-lecture-list dd.no-data {padding:40px 10px; line-height:22px; text-align:center; font-size:12px; color:#999; border:0;}

.lecture-view-hd-scrap {text-align:right; margin:-42px 0 12px 0; padding-right:10px;}